<div class="main">
	<h1 id="title">成果予定物</h1>
	<div class="contents">
		<h2 id="detail">今回は<a href=""><%= @list.title %></a>を制作しましょう。</h2>
	</div>
	<div id="link">
		<ul>
			<li><a href="./list">リスト</a></li>
			<li><a href="#">hoge</a></li>
		</ul>	
	</div>
</div>

