<h1>List Page</h1>
<table>
  <tr><th>Titles</th><th>Level(1~3)</th><th>Delete</th></tr>
  <% @list.each do |item| %>
    <tr>
     <td><a href=""><%= item.title %></a></td>
     <td><%= item.level %></td>
     <td><input type="checkbox"></td>
    </tr>
  <% end %>
</table>
<h2>Add New</h2>

<form method="post" action="/add">
  <p><label>Title:<input type="text" name="title"></label></p>
  <p>
    <label>Level:</label>
    <select name="level">
      <option>1</option>
      <option>2</option>
      <option>3</option>
    </select>
  </p>
  <p><label>Description</label><br><textarea></textarea></p>
  <input type="submit" value="Add">
</form>